# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Testing & Coverage
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
htmlcov/
.pytest_cache/
tests/

# Project specific dev files
.vscode/
.idea/
.env
requirements-dev.txt
debug.py
save.py

# Data & Logs
database/
backups/
images/
*.db
*.bak
*.bak2
*.log

# Documentation
README.md
LICENSE

# Docker
Dockerfile
.dockerignore
